html,
body {
    background-color: #D8B38B;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

span {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 35%;
}

/* Styling for phones or tablets */
@media only screen and (max-width: 425px) {
    .btns {
        max-width: 80%;
        max-height: 90%;
    }

}

.popupcontainer {
    justify-content: center;
    z-index: 1;
    background-color: hsl(31, 32%, 34%);
    border-radius: 1.25em;
    padding-bottom: 3.90em;
    padding-top: 5em;
}

.popup-btn {
    background-color: #9B7564;
    border-radius: 2em;
    width: 90%;
    height: 3.15em;
}

.a-form {
    color: white;
    font-weight: 400;
    font-size: 1.25em;
    text-decoration: underline;
}

.a-form:hover {
    color: white;
}

input[type="text"],
input[type="password"] {
    border-radius: 30em;
    width: 100%;
}

.btn-close {
    background-color: rgb(170, 0, 0);
    border: none;
    color: white;
    padding: 0.5em 2.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5em;
}

.btn-close:hover {
    background-color: rgb(99, 0, 0);
}

.btn-background {
    background-image: url('./media/images/google.png');
    background-repeat: no-repeat;
    background-size: 3em;
}

div {
    text-align: center;
}